// COLOR VARIABLES
$color-primary-darkest: hsl(222, 78%, 10%);
$color-primary-dark: hsl(222, 57%, 19%);
$color-primary: hsl(222, 43%, 28%);
$color-primary-light: hsl(222, 32%, 37%);
$color-primary-lightest: hsl(222, 20%, 50%);

$color-secondary-darkest: hsl(0, 97%, 14%);
$color-secondary-dark: hsl(0, 69%, 26%);
$color-secondary: hsl(0, 50%, 40%);
$color-secondary-light: hsl(0, 42%, 53%);
$color-secondary-lightest: hsl(0, 63%, 73%);

$color-tertiary-darkest: hsl(60, 97%, 14%);
$color-tertiary-dark: hsl(60, 69%, 26%);
$color-tertiary: hsl(60, 50%, 40%);
$color-tertiary-light: hsl(60, 42%, 53%);
$color-tertiary-lightest: hsl(60, 63%, 73%);

$color-complement-darkest: hsl(39, 97%, 14%);
$color-complement-dark: hsl(39, 69%, 26%);
$color-complement: hsl(39, 50%, 40%);
$color-complement-light: hsl(39, 42%, 53%);
$color-complement-lightest: hsl(39, 63%, 73%);

$color-almost-white: hsl(0, 0%, 99%);
$color-gray-lightest: hsl(0, 0%, 90%);
$color-gray-white: hsl(0, 0%, 67%);
$color-gray-50: hsl(0, 0%, 50%);
$color-almost-black: hsl(0, 0%, 15%);

$color-code-bg: hsl(47, 15%, 96%);
$color-code-inline: hsl(327, 80%, 33%);

// FONT VARIABLES
$font-sans: Muli, "Avenir Next", Avenir, "Helvetica Neue", Ubuntu, Roboto, Noto,
  "Segoe UI", sans-serif;
$font-serif: "IBM Plex Serif", Georgia, serif;
$font-mono: "Iosevka Web", Consolas, Monaco, monospace;

// // RESPONSIVE BREAKPOINTS
// $bp-largest: 75em; // 1200px
// $bp-large: 62.5em; // 1000px
// $bp-medium: 50em;  // 800px;
// $bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // font-size: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  color: $color-almost-black;

  @media screen and (max-height: 42rem), screen and (max-width: 26rem) {
    font-size: 50%;
  }
}
