// Form the backbone of an application and contain all of the cosmetics for a standalone component.
//  e. g. c-card c-checklist

.c-page {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // flex: 1 0 99vh;
  min-height: 99vh;
  background-color: $color-almost-white;
}

.c-header {
  width: 100%;
  align-self: center;
  background-image: url("/img/home-bg@2x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 42rem;
  color: $color-almost-white;

  @media screen and (max-width: 80rem) {
    background-image: url("/img/home-bg@1x.jpg");
    flex: 1 1 32rem;
  }

  &__textbox {
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 1rem $color-secondary;

    @media screen and (max-width: 50rem) {
      text-shadow: 0.2rem 0.2rem 0.5rem hsl(0, 50%, 15%);
      padding: 0 1rem;
    }

    a:link,
    a:visited {
      background-color: $color-secondary;
      color: inherit;
      font-weight: 600;
      padding: 0.5rem;
      text-shadow: none;

      &:after {
        filter: invert(1) brightness(1.3);
      }
    }

    a:hover,
    a:focus {
      color: $color-complement-lightest;
    }
  }

  &__heading {
    font-family: $font-serif;
    font-weight: 600;
    font-size: 6rem;
    line-height: 1.25;
  }

  &__subheading {
    font-size: 3.5rem;
    font-family: $font-mono;
    // font-feature-settings: "ss04";
    font-weight: 300;
  }
}

.c-nav {
  font-family: $font-sans;
  width: 100%;
  // min-height: 4.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $color-secondary;

  &__container {
    width: 98rem;
    display: flex;
    flex-wrap: wrap;
    // min-height: 3.5rem;
    padding: 0.8rem 3rem;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;

    @media screen and (max-width: 40rem) {
      padding: 0.8rem 1.5rem;
    }
  }

  &__brand {
    // padding-left: 2rem;
    font-family: $font-mono;
    // font-feature-settings: "ss04";
  }

  &__items {
    display: flex;
    flex-direction: row;
    & > * {
      padding-right: 2rem;
    }
  }

  &__link {
    transition: all 0.2s;

    &:hover {
      color: $color-complement-lightest;
    }
  }
}

.c-card {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.75rem;

  @media screen and (max-width: 40rem) {
    padding: 1.5rem;
  }

  &__items {
    display: flex;
    flex-basis: 92rem;
    flex-direction: column;

    h1:not(:first-of-type) {
      padding-top: 3rem;
    }

    h2 {
      padding-top: 2rem;
    }

    h3 {
      padding-top: 1.5rem;
    }

    p {
      margin-top: 1.5rem;
    }

    figure {
      padding: 1.5rem;
      margin: 1rem;
      background-color: #fff;
      border: 1px solid $color-gray-lightest;
      border-radius: 1rem;
      box-shadow: 2px 2px 4px 2px $color-gray-lightest;

      @media screen and (max-width: 40rem) {
        padding: 0.75rem;
        margin: 0.75rem;
      }

      img {
        width: 100%;
      }

      figcaption {
        font-family: $font-sans;
        h4 {
          text-align: center;
          font-weight: 300;
          font-size: 1.5rem;
        }
      }
    }

    a:link,
    a:visited {
      color: $color-secondary-dark;
      font-weight: 600;
      padding: 0 0.2rem;
      border-bottom: 1px dotted $color-gray-white;
      transition: all 0.2s ease-out;
    }

    a[href^="http"] {
      font-weight: 300;
    }

    a:hover,
    a:focus {
      background-color: $color-secondary-dark;
      color: $color-almost-white;
    }
  }
}

.c-postlist {
  padding: 3rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media screen and (max-width: 40rem) {
    padding: 1.5rem 2.5rem;
  }

  &__items {
    display: flex;
    flex-basis: 92rem;
    flex-direction: column;
  }
}

.c-post {
  // margin: 1.5vh 0 1vh;
  margin: 3rem 0 1rem 0;
  padding: 0.67rem;
  transition: all 0.1s ease-in-out;
  position: relative;
  z-index: 10;

  &:hover {
    border-left: 3px solid $color-complement-light;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: $color-complement-lightest;
    opacity: 0.33;
    transition: width 0.2s cubic-bezier(1, 0, 0, 1) 0.2s;
    z-index: -1;
  }

  &:hover::before,
  &:focus::before {
    width: 100%;
  }

  &__title {
    font-size: 4rem;
    line-height: 1.3;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &__meta {
    margin-top: 0.75rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: $color-gray-50;
    font-family: $font-serif;
  }

  &__author {
    font-style: italic;
  }
}

.c-pager {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
  color: #fcfcfc;

  .c-btn {
    cursor: pointer;
    padding: 1rem 3rem;
    display: flex;
    background-color: $color-primary-light;
    transition: all 0.15s;

    &:hover {
      background-color: $color-primary;
      transform: translateY(-0.2rem);
      box-shadow: 0.2rem 0.2rem 0.4rem 0 hsl(0, 0%, 60%);
    }
  }
}

.c-footer {
  font-size: 1.33rem;
  font-weight: 200;
  display: block;
  text-align: center;
  margin-top: auto;
  margin-bottom: 1rem;
}
