//  These utility classes have a single function, often using !important to boost their specificity. (Commonly used for positioning or visibility.)
// e.g. h-show h-hide

.h-monospaced {
  font-family: $font-mono !important;
}

.h-text-muted {
  color: $color-gray-white !important;
}
