// based on PrismJS 1.17.1
// https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+bash+css-extras+diff+markup-templating+docker+git+php+json+julia+latex+typescript+perl+sql+scss+python+r+rust+yaml+toml

// prism.js default theme for JavaScript, CSS and HTML

pre[class*="language-"] {
  padding: 1rem;
  margin: 1rem 0;
  background-color: $color-code-bg;
  font-size: 1.5rem;
  box-shadow: 2px 2px 2px 0px hsl(47, 15%, 90%);
  border: 1px solid hsl(47, 10%, 93%);
  border-radius: 5px;
  overflow: auto;
  line-height: 1.25;
}

code[class*="language-"] {
  color: #000;
  background: none;
  // text-shadow: 0 1px white;
  font-family: $font-mono;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: break-word;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;

  &.language-text {
    font-size: 1.4rem;
    color: #444;
  }
}

// Inline code
:not(pre) > code {
  font-size: 1.6rem;
  padding: 0.1rem 0.33rem;
  background-color: $color-code-bg;
  color: $color-code-inline;
  border-radius: 2px;
  white-space: normal;
  box-shadow: 1px 1px 1px 0px hsl(327, 6%, 87%);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(210, 11%, 46%);
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  background: hsla(0, 0%, 100%, 0.25);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.text-indent {
  display: inline-block;
  white-space: pre-line;
  padding-left: 1em;
  opacity: 0.95;
}
