.highlight {
  padding: 0.67em;
  margin: 0.75rem 0;

  background-color: $color-code-bg;
  font-size: 0.85em;

  border-radius: 5px;
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 1px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: auto;
}

code[class*="language-"] {
  color: #000;
  background: none;
  text-shadow: 0 1px white;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: break-word;
  word-wrap: normal;
  line-height: 1.25;
  tab-size: 4;
  hyphens: none;
}

@media print {
  code[class*="language-"] {
    text-shadow: none;
  }
}

/* Inline code */
:not(pre) > code {
  font-size: 0.9em;
  padding: 0.1em 0.33em;
  background-color: $color-code-bg;
  color: $color-code-inline;
  border-radius: 4px;
  white-space: normal;
  box-shadow: 1px 1px 1px 0px hsl(327, 6%, 87%);
}

.chroma {
  // .token.comment,
  // .token.prolog,
  // .token.doctype,
  // .token.cdata

  // Comment              .chroma .c
  // CommentHashbang      .chroma .ch
  // CommentMultiline     .chroma .cm
  // CommentSingle        .chroma .c1
  // CommentSpecial       .chroma .cs
  // CommentPreproc       .chroma .cp
  // CommentPreprocFile   .chroma .cpf
  [class^="c"] {
    color: slategray;
  }

  // .token.punctuation
  .p {
    color: #999;
  }

  // .namespace
  .kn {
    opacity: 0.7;
  }

  // Keyword             .chroma .k
  // KeywordConstant     .chroma .kc
  // KeywordDeclaration  .chroma .kd
  // KeywordNamespace    .chroma .kn
  // KeywordPseudo       .chroma .kp
  // KeywordReserved     .chroma .kr
  // KeywordType         .chroma .kt

  // .token.boolean,
  // .token.constant,
  // .token.deleted
  // .token.number,
  // .token.property,
  // .token.symbol,
  // .token.tag,

  .kc {
    color: #905;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #690;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #9a6e3a;
    background: hsla(0, 0%, 100%, 0.5);
  }

  // .token.atrule,
  // .token.attr-value,
  // .token.keyword

  .kr,
  .kd {
    color: #07a;
  }

  // .token.function,
  // .token.class-name

  .k {
    color: #dd4a68;
  }

  .nx {
    color: #111;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #e90;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }
}
