//  These modules have no cosmetics and are purely used to position c- components and structure an application’s layout.
//  e.g. l-grid l-container

.l-list {
  &--no-bullet {
    list-style-type: none;
  }

  &__horizontal {
    display: flex;
  }
}

blockquote {
  padding-left: 2rem;
  background: white;
  padding: 1.2rem 3.5rem;
  position: relative;
  margin: 1rem 0;
  align-self: flex-start;
}

blockquote:before {
  content: "“";
  color: $color-gray-lightest;
  font-size: 10rem;
  position: absolute;
  top: -4rem;
  left: -0.2rem;
}

blockquote:after {
  content: "„";
  color: $color-gray-lightest;
  font-size: 10rem;
  position: absolute;
  bottom: -2.6rem;
  right: -0.2rem;
}

main {
  ol {
    margin-left: 0.9em;
    padding-left: 1em;

    li {
      padding-left: 0.1em;

      > ol {
        padding-left: 0.1em;
        margin-left: 0.9em;
        li {
          padding-left: 1px;
        }
      }
    }
  }

  ul {
    list-style-type: none;
    margin-left: 1em;
    margin-top: 0.33em;

    // @media screen and (max-height: 42rem), screen and (max-width: 26rem) {
    ul {
      margin-left: 0.5em;
    }
    // }
  }

  li {
    padding-left: 0.25rem;
    margin-left: 1rem;
    position: relative;

    @media screen and (max-height: 42rem), screen and (max-width: 26rem) {
      margin-left: 0;
    }
  }

  ul li:before {
    content: "";
    display: inline-block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    height: 0.7em;
    width: 0.75em;
    top: 0.9rem;
    left: -0.9em;
  }

  ul > li:nth-of-type(even):before,
  ul > li:nth-of-type(even) > ul > li:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3E%3Cpolygon fill='%23333' stroke='%23333' stroke-width='32' stroke-linecap='round' stroke-linejoin='round' points='16,16 401,238 16,461'/%3E%3C/svg%3E");
  }

  ul > li:nth-of-type(odd):before,
  ul > li:nth-of-type(odd) > ul > li:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3E%3Cpolygon fill='none' stroke='%23000' stroke-width='32' stroke-linecap='round' stroke-linejoin='round' points='16,16 401,238 16,461'/%3E%3C/svg%3E");
  }
}
