/* muli-300 - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/muli-v16-latin-300.woff2") format("woff2"),
      url("../fonts/muli-v16-latin-300.woff") format("woff"); }

/* muli-300italic - latin */
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/muli-v16-latin-300italic.woff2") format("woff2"),
      url("../fonts/muli-v16-latin-300italic.woff") format("woff"); }

/* muli-600 - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/muli-v16-latin-600.woff2") format("woff2"),
      url("../fonts/muli-v16-latin-600.woff") format("woff"); }

/* muli-600italic - latin */
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/muli-v16-latin-600italic.woff2") format("woff2"),
      url("../fonts/muli-v16-latin-600italic.woff") format("woff"); }


/* ibm-plex-serif-300 - latin */
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ibm-plex-serif-v8-latin-300.woff2") format("woff2"),
      url("../fonts/ibm-plex-serif-v8-latin-300.woff") format("woff"); }

/* ibm-plex-serif-300italic - latin */
@font-face {
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/ibm-plex-serif-v8-latin-300italic.woff2") format("woff2"),
      url("../fonts/ibm-plex-serif-v8-latin-300italic.woff") format("woff"); }

/* ibm-plex-serif-600 - latin */
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/ibm-plex-serif-v8-latin-600.woff2") format("woff2"),
      url("../fonts/ibm-plex-serif-v8-latin-600.woff") format("woff"); }

/* Iosevka SS04 Light and Semibold (subset) */
@font-face {
  font-family: "Iosevka Web";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/subset_399glyphs/v2.3.0/iosevka-ss04-light.woff2") format("woff2"),
    url("../fonts/subset_399glyphs/v2.3.0/iosevka-ss04-light.woff") format("woff");
}

@font-face {
  font-family: "Iosevka Web";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/subset_399glyphs/v2.3.0/iosevka-ss04-lightitalic.woff2") format("woff2"),
    url("../fonts/subset_399glyphs/v2.3.0/iosevka-ss04-lightitalic.woff") format("woff");
}

@font-face {
  font-family: "Iosevka Web";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/subset_399glyphs/v2.3.0/iosevka-ss04-semibold.woff2") format("woff2"),
    url("../fonts/subset_399glyphs/v2.3.0/iosevka-ss04-semibold.woff") format("woff");
}

@font-face {
  font-family: "Iosevka Web";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/subset_399glyphs/v2.3.0/iosevka-ss04-semibolditalic.woff2") format("woff2"),
    url("../fonts/subset_399glyphs/v2.3.0/iosevka-ss04-semibolditalic.woff") format("woff");
}

// /* Iosevka Web */
// @font-face {
//   font-family: "Iosevka Web";
//   font-weight: 300;
//   font-style: normal;
//   src: url("../fonts/iosevka-light.woff2") format("woff2"),
//     url("../fonts/iosevka-light.woff") format("woff");
// }

// @font-face {
//   font-family: "Iosevka Web";
//   font-weight: 300;
//   font-style: italic;
//   src: url("../fonts/iosevka-lightitalic.woff2") format("woff2"),
//     url("../fonts/iosevka-lightitalic.woff") format("woff");
// }

// @font-face {
//   font-family: "Iosevka Web";
//   font-weight: 600;
//   font-style: normal;
//   src: url("../fonts/iosevka-semibold.woff2") format("woff2"),
//     url("../fonts/iosevka-semibold.woff") format("woff");
// }

// @font-face {
//   font-family: "Iosevka Web";
//   font-weight: 600;
//   font-style: italic;
//   src: url("../fonts/iosevka-semibolditalic.woff2") format("woff2"),
//     url("../fonts/iosevka-semibolditalic.woff") format("woff");
// }

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a[href^="http"]:after {
  content: "";
  display: inline-block;
  transform: translate(0px, 2px);
  width: 1em;
  height: 1em;
  margin-left: 2px;
  // background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23555'%3E%3Cpath d='M20 3h-5a1 1 0 1 0 0 2h3L8 14a1 1 0 1 0 2 2l9-10v3a1 1 0 1 0 2 0V4a1 1 0 0 0-1-1zM5 3L3 5v14l2 2h14l2-2v-6a1 1 0 1 0-2 0v6H5V5h6a1 1 0 1 0 0-2H5z'/%3E%3C/svg%3E");
  background-size: cover;
}

a[href^="http"]:hover:after,
a[href^="http"]:focus:after {
  filter: invert(1) brightness(1.3);
}

::selection {
  background-color: $color-secondary-light;
  color: $color-almost-white;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

body {
  font-family: $font-sans;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

pre,
code {
  font-family: $font-mono;
  // font-feature-settings: "ss04";
}
