<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{/* NOTE: the Site's title, and if there is a page title, that is set too */}}
  <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
  <meta name="description" content="{{ .Description }}">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  
  {{ block "favicon" . }}
    {{ partial "favicon.html" . }}
  {{ end }}
  
  {{ $options := (dict "targetPath" "css/dosmo_style.css" "enableSourceMap" true ) }}
  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS $options | resources.PostCSS (dict "noMap" false "use" "autoprefixer" ) | resources.Minify | resources.Fingerprint "md5" }}
  
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>

<body class="c-page">

  {{ block "header" . }}
    {{ partial "header.html" . }}
  {{ end }}

  {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
  {{ end }}

  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{ end }}

</body>
</html>