{{ define "main" }}
<main class="c-postlist">
  <div class="c-postlist__items">
    <!-- Ranges through content/posts/*.md -->
    {{ range .Paginator.Pages }}

    {{ block "posts-list" . }}
    {{ partial "posts-list.html" . }}
    {{ end }}
    
    <hr>
    {{ end }}
  </div>
</main>

<!-- Show newer/older posts buttons when sufficient posts available -->
{{ if gt .Paginator.TotalPages 1 }}
<div class="c-pager">
  {{ if .Paginator.HasPrev }}
    <div class="c-pager__button">
      <a class="c-btn c-btn--primary" href="{{ .Paginator.Prev.URL }}">&larr; Newer Posts</a>
    </div>
  {{ end }}

  {{ if .Paginator.HasNext }}
    <div class="c-pager__button">
      <a class="c-btn c-btn--primary" href="{{ .Paginator.Next.URL }}">Older Posts &rarr;</a>
    </div>
  {{ end }}
</div>
{{ end }}
{{ end }}