{{ define "main" }}
<!-- Main Content -->
<main class="c-card">
  <div class="c-card__items">
    <p class="c-post__meta">Posted by
      <span class="c-post__author">{{ if .Params.Author }}
        {{ .Params.Author}}
        {{ else }}
        {{ .Site.Params.Author}}
        {{ end }}
      </span>
      {{.Date.Format "2006-01-02"}}
    </p>
    {{ .Content }}
  </div>
</main>
{{ end }}