<header class="c-header">
  <nav class="c-nav">
    <div class="c-nav__container">
      <a class="c-nav__brand c-nav__link" href="/">DOSmo.de</a>
      <div class="c-nav__items">
        <a class="c-nav__link" href="/about">About</a>
        <a class="c-nav__link" href="/posts">Articles</a>
      </div>
    </div>
  </nav>
  <div class="c-header__textbox">
    <h1 class="c-header__heading">{{ .Title | markdownify }}</h1>
    <h2 class="c-header__subheading">{{if .IsHome}}{{ $.Site.Params.description | markdownify}}{{else}}{{.Description | markdownify}}{{end}}</h2>
  </div>
</header>