<!-- posts list -->
<article class="c-post">
  <a href="{{.RelPermalink}}">
    <h2 class="c-post__title">
      {{.Title | markdownify }}
    </h2>
    <h3 class="c-post__subtitle">
      {{.Description | markdownify }}
    </h3>
    <p class="c-post__summary">
      {{.Summary | markdownify }}
    </p>
  <p class="c-post__meta">Posted by
    <span class="c-post__author">{{ if .Params.Author }}
      {{ .Params.Author}}
      {{ else }}
      {{ .Site.Params.Author}}
      {{ end }}
    </span>
    {{.Date.Format "2006-01-02"}}
  </p>
  </a>
</article>