{{ define "main" }}
<!-- Main Content -->
<main class="c-card">
  <div class="c-card__items">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="yetiSVG" viewBox="0 0 600 470">
      <style>
      .st0 {
        fill: #09334f
      }

      .st1,
      .st2 {
        fill: none;
        stroke: #001726;
        stroke-width: 2.5;
        stroke-linecap: round;
        stroke-linejoin: round
      }

      .st2 {
        fill: #09334f
      }

      .st3 {
        fill: #67b1e0
      }

      .st4,
      .st5 {
        fill: none;
        stroke: #265d85;
        stroke-width: 2.5;
        stroke-linecap: round;
        stroke-linejoin: round
      }

      .st5 {
        fill: #67b1e0
      }

      .st6 {
        fill: #88c9f2
      }

      .st7,
      .st8 {
        stroke: #265d85;
        stroke-width: 2.5
      }

      .st7 {
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: #88c9f2
      }

      .st8 {
        fill: none
      }

      .st9 {
        fill: #265d85
      }

      .st10 {
        fill: #fff
      }

      .st11 {
        clip-path: url(#SVGID_2_)
      }

      .st12 {
        fill: #cc4a6c
      }

      .st13 {
        opacity: .1;
        fill: #fff;
        enable-background: new
      }

      .st14 {
        fill: #a9ddf3
      }

      .st15,
      .st16,
      .st17,
      .st18 {
        stroke: #265d85;
        stroke-width: 2.5
      }

      .st15 {
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        fill: none
      }

      .st16,
      .st17,
      .st18 {
        fill: #88c9f2
      }

      .st17,
      .st18 {
        fill: none;
        stroke: #3a5e77;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10
      }

      .st18 {
        stroke: #262626;
        stroke-width: 20
      }

      .st19 {
        fill: #4d4d4d
      }

      .st20 {
        fill: #1a1a1a
      }

      .st21 {
        opacity: .1;
        enable-background: new
      }

      .st22 {
        fill: #072a40
      }

      .st23 {
        fill: none;
        stroke: #001726;
        stroke-width: 2.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10
      }

      .st24 {
        opacity: 3.000000e-02;
        enable-background: new
      }

      .st25 {
        fill: #333
      }

      .st26 {
        fill: url(#SVGID_3_)
      }

      .st27 {
        fill: #b3b3b3
      }

      .st28 {
        fill: #d9d9d9
      }

      .st29 {
        opacity: .15
      }

      .st30 {
        fill: #3d3d3d
      }

      .st31,
      .st32 {
        fill: #1992de;
        stroke: #0d4d6b;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10
      }

      .st32 {
        fill: #157bba
      }
      </style>
      <g id="pillow">
        <path d="M241.9 125.2c-52.9 28.6-112.6 48-181.8 54.4C19.2 186.4-4.5 97.3 28.2 73 84.6 44.4 145.4 26.8 210 18.6c32.8 13 48.5 75.3 31.9 106.6z" class="st0" />
        <path d="M53.4 91.9c10 7.4 25.4 50.7 16.1 65.8m172.4-32.5c-52.9 28.6-112.6 48-181.8 54.4C19.2 186.4-4.5 97.3 28.2 73 84.6 44.4 145.4 26.8 210 18.6c32.8 13 48.5 75.3 31.9 106.6z" class="st1" />
        <path d="M202.5 22.5c4.9-8 14.1-11.3 20.6-7.3s7.7 13.7 2.8 21.7M242.7 103.7c1.8.3 3.6.9 5.3 1.8 8.4 4.1 12.6 13 9.3 19.8s-12.9 9-21.3 4.9c-1.9-.9-3.6-2.1-5-3.4M70.9 172.6c.2 1.4.2 2.8.1 4.3-.8 9.4-8.3 16.4-16.7 15.6s-14.5-8.9-13.7-18.2c.1-1.6.5-3.1 1-4.5M21.5 85.7c-4.1-5-5.1-11.6-2.1-16.9 4.1-7.2 14-9.2 22.1-4.6 3.7 2.1 6.4 5.2 7.9 8.6" class="st2" />
      </g>
      <g id="yeti">
        <path id="bodyBG" d="M81.5 292l-17.1-72.8c-6.3-27 10.4-54 37.4-60.3l93.1-29.6c26.5-8.1 54.6 6.8 62.7 33.3l21.9 71.5" class="st3" />
        <path id="hlBody" d="M67.7 233.3c15.6-8.7 27.7-23.7 38-38.7 5.5-8 10.9-16.4 18.3-22.7 13.1-11.2 31.3-14.8 48.6-15 4.9 0 9.9.1 14.5-1.7 3.6-1.5 6.5-4.1 9.3-6.9 6.5-6.5 12-14 18-21-6.4-.6-12.9 0-19.4 2l-93.1 29.6a50.2 50.2 0 0 0-37.4 60.3l3.2 14.1z" class="st3" />
        <path id="bodyOutline" d="M81.5 292l-17.1-72.8c-6.3-27 10.4-54 37.4-60.3l93.1-29.6c26.5-8.1 54.6 6.8 62.7 33.3l21.9 71.5" class="st4" />
        <path d="M198.1 133l-11.2-47.9c-6.3-26.7-32.7-44.1-59.5-38.2-27.4 6-44.5 33.1-38.1 60.3l13.6 56.2" class="st3" />
        <path id="hlHead" d="M101 132.9l7.4 29.8 89.7-28.8L186.7 85c-1.6-6.8-4.5-12.9-8.4-18.3-9.6-7.9-28.5-12.9-46.9-8.5-24.9 5.9-34.5 23.6-38.1 37.9-.8.8-3.8 3-5.1 5.4.2 1.9.5 3.7 1 5.6l7 28.8 4.8-3z" class="st3" />
        <path d="M182.7 72.2c3.8 3.6 7 7.7 9.5 12-1.8.4-3.6.9-5.3 1.6 3.2 2.9 5.7 6.3 7.6 9.9-1.1.3-2.2.7-3.3 1.1 2.5 3.5 4.3 7.4 5.4 11.5-.8-.5-2.2-.8-3.3-1" class="st5" />
        <path d="M198.1 133l-11.2-47.9c-6.3-26.7-32.7-44.1-59.5-38.2-27.4 6-44.5 33.1-38.1 60.3l13.6 56.2" class="st4" />
        <ellipse cx="86.3" cy="121" class="st6" rx="11.5" ry="11.5" />
        <path id="hlEar" d="M81 122.8c-1.3-5.5 1.6-11.1 6.6-13.2-1.3-.1-2.6-.1-3.9.3-6.2 1.5-10 7.7-8.5 13.9s7.7 10 13.9 8.5c.7-.2 1.3-.4 1.9-.6-4.7-.6-8.9-4-10-8.9z" class="st6" />
        <path d="M84.8 117.2c-2.2.5-3.6 2.8-3 5 .5 2.2 2.8 3.6 5 3" class="st7" />
        <ellipse cx="86.3" cy="121" class="st8" rx="11.5" ry="11.5" />
        <path d="M106.6 130.9l-12 3.6 1.2-11.4-6.3-.1 6-12h-5.4l9.6-8.4 6.9 28.3z" class="st3" />
        <path d="M92.7 97c-5.1 5.9-8.4 11.7-10 17 4.2-1.2 8.5-2.2 12.8-3-4.2 4.8-6.7 9.5-7.6 13.8 2.7-.7 5.4-1.3 8-1.7-2.3 4.8-2.8 9.2-1.7 13.3 1.4-1 4-2.4 6.1-3.4" class="st5" />
        <path id="face" d="M169.7 71l7.3 23.4c9.4 26.8-1.8 45-20 50.7s-37.8-5.1-45.8-30.1l-7.3-23.4" class="st6" />
        <path id="chin" d="M153 149.3c3.8 1 8 1.4 12.3 1.1-.5-1.4-1-2.9-1.6-4.3 3.8.6 7.9.7 12.1.1l-3.3-4.8c3.1-.6 6.3-1.6 9.5-3.1-1.4-1.6-2.8-3.1-4.2-4.6" class="st4" />
        <path id="eyebrow" d="M101.5 90.4c7.6 3.5 15.9 6.1 24.7 7.7 1.1-3.3 2.1-6.6 3-9.9 5.5 2.3 11.3 4.1 17.5 5.4.2-3.3.4-6.5.4-9.7 4.5.7 9.2 1.1 14 1.1-.5-3.4-1.1-6.7-1.7-10 4.5-1.9 9-4.2 13.3-6.9" class="st5" />
        <g id="eyeL">
          <circle cx="136.5" cy="105.9" r="3.5" class="st9" />
          <circle cx="134.3" cy="104.1" r="1" class="st10" />
        </g>
        <g id="eyeR">
          <circle cx="163.8" cy="96.9" r="3.5" class="st9" />
          <circle cx="161.5" cy="95.1" r="1" class="st10" />
        </g>
        <path id="nose" d="M149.9 101.8l4.4-1.6c1.8-.6 3.6 1 3.1 2.9l-1.1 3.9c-.4 1.6-2.3 2.2-3.6 1.3l-3.3-2.3c-1.7-1.1-1.3-3.5.5-4.2z" class="st9" />
        <path d="M113 56.5c.9-4.3 3.8-9.2 8.8-13.7 1.4 2.3 2.8 4.7 4.1 7.1 2.3-4.8 6.9-9.8 13.8-14.1-.1 3.4-.3 6.8-.6 10.1 4.4-3 10.2-5.7 17.3-7.6-1.7 3.6-3.7 7.2-5.9 10.8" class="st5" />
        <g id="mouth">
          <path id="mouthBG" d="M149.6 116.3a14.9 14.9 0 0 0-5 15.6c.1.5.3 1.1.5 1.6.6 1.5 2.4 2.3 3.9 1.7l11.2-4.4 11.2-4.4c1.5-.6 2.3-2.4 1.7-3.9-.2-.5-.4-1-.7-1.5a15 15 0 0 0-14.1-7.9c-3.7.2-5.9 1.1-8.7 3.2z" class="st9" />
          <defs>
            <path id="SVGID_1_" d="M149.6 116.3a14.9 14.9 0 0 0-5 15.6c.1.5.3 1.1.5 1.6.6 1.5 2.4 2.3 3.9 1.7l11.2-4.4 11.2-4.4c1.5-.6 2.3-2.4 1.7-3.9-.2-.5-.4-1-.7-1.5a15 15 0 0 0-14.1-7.9c-3.7.2-5.9 1.1-8.7 3.2z" />
          </defs>
          <clipPath id="SVGID_2_">
            <use overflow="visible" xlink:href="#SVGID_1_" />
          </clipPath>
          <g class="st11">
            <ellipse cx="161.4" cy="133.8" class="st12" rx="13" ry="8" transform="rotate(-21.69 161.38 133.76)" />
            <ellipse cx="159" cy="127.7" class="st13" rx="5" ry="1.5" transform="rotate(-21.69 158.96 127.66)" />
            <path id="tooth1" d="M162.1 116.7l-3.7 1.5c-1 .4-2.2-.1-2.6-1.1l-1.5-3.7 7.4-3 1.5 3.7c.5 1 0 2.2-1.1 2.6z" class="st10" />
            <path id="tooth2" d="M152.4 129.5l-1.9.7c-1 .4-1.5 1.6-1.1 2.6l1.1 2.8 5.6-2.2-1.1-2.8c-.5-1-1.6-1.5-2.6-1.1z" class="st10" />
            <path id="tooth3" d="M158.9 126.9l-1.9.7c-1 .4-1.5 1.6-1.1 2.6l1.1 2.8 5.6-2.2-1.1-2.8c-.5-1-1.6-1.5-2.6-1.1z" class="st10" />
          </g>
          <path id="mouthOutline" d="M149.6 116.3a14.9 14.9 0 0 0-5 15.6c.1.5.3 1.1.5 1.6.6 1.5 2.4 2.3 3.9 1.7l11.2-4.4 11.2-4.4c1.5-.6 2.3-2.4 1.7-3.9-.2-.5-.4-1-.7-1.5a15 15 0 0 0-14.1-7.9c-3.7.2-5.9 1.1-8.7 3.2z" class="st4" />
        </g>
        <g id="armR">
          <path d="M159 117.5l-.7.3a7.35 7.35 0 0 0-4.1 9.4l1.2 2.9c1.7 4.4 6.7 6.5 11.1 4.8l1.4-.5" class="st6" />
          <path d="M155.4 129.7l.7 1.8c1 2.5 5.4 3.1 5.4 3.1l-2-5.1c-.3-.7-1.1-1.1-1.8-.8l-2.3 1z" class="st14" />
          <path d="M159 117.5l-.7.3a7.35 7.35 0 0 0-4.1 9.4l1.2 2.9c1.7 4.4 6.7 6.5 11.1 4.8l1.4-.5" class="st15" />
          <path d="M168.3 113.8l-.7.3a7.35 7.35 0 0 0-4.1 9.4l1.2 2.9c1.7 4.4 6.7 6.5 11.1 4.8l1.4-.5M177.6 110l-.7.3a7.35 7.35 0 0 0-4.1 9.4l1.2 2.9c1.7 4.4 6.7 6.5 11.1 4.8l1.4-.5" class="st16" />
          <path d="M162.9 129.2l18.6 46.7 37.2-14.8-17.9-44.8" class="st6" />
          <path d="M207.1 131.3l-5.9-15.1-37.9 13 6.4 17.4c10 1.6 34.6-6.3 37.4-15.3z" class="st6" />
          <path d="M162.9 129.2l18.6 46.7 37.2-14.8-15.3-38.3" class="st15" />
          <path d="M191.4 119.6l-1.5-3.7c-2-5.1-7.9-7.6-13-5.6l5.2 12.9" class="st6" />
          <path d="M204.1 124.4l-1.5-3.7c-2-5.1-7.9-7.6-13-5.6l5.2 12.9" class="st6" />
          <path d="M201 120l-.7-1.8c-1-2.5-5.4-3.1-5.4-3.1l1.9 4.8c.3.8 1.3 1.3 2.1.9l2.1-.8z" class="st14" />
          <path d="M204.1 124.4l-1.5-3.7c-2-5.1-7.9-7.6-13-5.6M194.3 127l-4.4-11.1c-2-5.1-7.9-7.6-13-5.6" class="st15" />
          <path d="M220.2 160.7l-5.1-21.1c-2.8 2.1-5.6 4.5-8.3 7.4-2-1.8-4.1-3.7-6.2-5.7-2.4 3.6-4.6 7.7-6.7 12.1-3-1.9-6-3.9-9.2-6-1.4 2.9-2.7 6-4 9.2-4.7-.6-9.4-1.1-14.2-1.7 5.4 8 10.3 15.2 14.7 21.5" class="st3" />
          <path d="M220.2 160.7l-5.1-21.1c-2.8 2.1-5.6 4.5-8.3 7.4-2-1.8-4.1-3.7-6.2-5.7-2.4 3.6-4.6 7.7-6.7 12.1-3-1.9-6-3.9-9.2-6-1.4 2.9-2.7 6-4 9.2-4.7-.6-9.4-1.1-14.2-1.7 5.4 8 10.3 15.2 14.7 21.5" class="st4" />
          <path d="M161.5 125.6l2 5.1" class="st17" />
          <path d="M172.8 127l-1.5-3.7c-2-5.1-7.9-7.6-13-5.6l5.2 12.9" class="st6" />
          <path d="M161.1 124.6l2.4 6.1" class="st15" />
          <path d="M182.1 123.3l-1.5-3.7c-2-5.1-7.9-7.6-13-5.6l5.2 12.9" class="st6" />
          <path d="M182.1 123.3l-1.5-3.7c-2-5.1-7.9-7.6-13-5.6M172.8 127l-1.5-3.7c-2-5.1-7.9-7.6-13-5.6" class="st15" />
        </g>
        <g id="armL">
          <path d="M51.5 157.3c-12 35.8-7.8 69.6 8.3 101.9 12.1 22.7 37 14.1 39.5-11.8v-65l-47.8-25.1z" class="st3" />
          <path d="M51.5 157.3c-12 35.8-7.8 69.6 8.3 101.9 10 22.3 37.3 15.1 39.5-11.8v-65l-47.8-25.1z" class="st4" />
          <path d="M59.9 144.4l34.3 33.9" class="st18" />
          <path d="M59 134.5l15.9 15.9-.9.9-16.5-16.5c.5-.2 1-.3 1.5-.3z" class="st19" />
          <path d="M71.8 170.2l-20.1-20c-2.4-3.7-2.5-8.1.1-11.7l23.1 22.2" class="st20" />
          <path d="M81.1 157l16 15.9-.9.9-16.5-16.5c.5-.1 1-.2 1.4-.3z" class="st19" />
          <path d="M74.8 160.7L86.6 172l-2 11-10.2-10.1c-2.4-4.4-2.5-8.5.4-12.2z" class="st20" />
          <path d="M66.5 165.4c-1.9-5.5.8-11.8 6.1-14.1 4.9-2.2 10.4-.6 13.5 3.4 1.3 1.6 3.5 2.1 5.4 1.4 3-1.2 3.9-4.9 1.9-7.4a20.78 20.78 0 0 0-35.9 19.5" class="st6" />
          <path d="M68.5 168.9c-1.1-1.2-2-3.6-2-3.6-1.9-5.5.8-11.8 6.1-14.1 4.9-2.2 10.4-.6 13.5 3.4 1.3 1.6 3.5 2.1 5.4 1.4 3-1.2 3.9-4.9 1.9-7.4a20.78 20.78 0 0 0-35.9 19.5" class="st4" />
          <path d="M70.5 169.3c-1.9-5.5.8-11.8 6.1-14.1 4.9-2.2 10.4-.6 13.5 3.4 1.3 1.6 3.5 2.1 5.4 1.4 3-1.2 3.9-4.9 1.9-7.4a20.78 20.78 0 0 0-35.9 19.5" class="st6" />
          <path d="M50.5 155.6l2.7 12.7.2 11.8 5 8.6 9.5-1.8 2-8.7-6.9.6 1.7-11.7-6.6 2.8 1-13.8-4.6 2.9-4-3.4z" class="st3" />
          <path d="M72.5 172.9c-1.1-1.2-2-3.6-2-3.6-1.9-5.5.8-11.8 6.1-14.1 4.9-2.2 10.4-.6 13.5 3.4 1.3 1.6 3.5 2.1 5.4 1.4 3-1.2 3.9-4.9 1.9-7.4-5.8-7.2-16.1-9.9-25-5.7" class="st4" />
          <path id="hlHandL" d="M102.3 157.5c-5.8-7.2-16.1-9.9-25-5.7-5.9 2.8-9.9 8.1-11.3 14.1l-1-.9-6.2 4.2c5.5 18.1 19.3 25.4 30.4 21l1.2-9.1c-6 2.4-12.7-.7-14.9-6.8-1.9-5.5.8-11.8 6.1-14.1 4.9-2.2 10.4-.6 13.5 3.4 1.3 1.6 3.5 2.1 5.4 1.4 2.9-1.3 3.8-5 1.8-7.5z" class="st6" />
          <path d="M90.3 181.1c-6 2.4-12.7-.7-14.9-6.8M77.5 177.9c-1.1-1.2-2-3.6-2-3.6-1.9-5.5.8-11.8 6.1-14.1 4.9-2.2 10.4-.6 13.5 3.4 1.3 1.6 3.5 2.1 5.4 1.4 3-1.2 3.9-4.9 1.9-7.4-5.8-7.2-16.1-9.9-25-5.7" class="st4" />
          <path id="hlArmL" d="M99.4 203.4l-1.4-8.7-5.2.7-7.2-11.5-6.8 9-3.9-9.3-7.5 4.8 3.5-11.4-7.1 1.9 2.7-13.5-7.8 4.9c-11.7 26.5-3.6 52.5 1.7 66.6 15.5-6.4 30.3-21.9 39-33.5z" class="st3" />
          <path d="M101.6 161.8l-2.4-2.2c.2-1.6-.2-2.7-.8-3.9l2.6 2.5c.8.8 1 2.2.6 3.6z" class="st14" />
          <path d="M67.5 188.4L71 177l-7.2 1.9 2.6-13.9-7.5 4.5 1.2-15.5-5.5 4.2" class="st4" />
          <path d="M54.6 158.2l-5.6-5.6 2.7 14.7M67.7 188.6l7.3-5 3.8 9.3M78.8 192.9l6.8-9 7.1 11.5" class="st4" />
        </g>
      </g>
      <g id="blanket">
        <path d="M1.8 273.1c5.4-9.4 11.8-18.4 21.2-23.5 10.3-5.5 22.5-5.5 33.7-8.8 21.8-6.5 37.5-25.3 50.3-44.1 5.5-8 10.9-16.5 18.3-22.8 13.1-11.2 31.3-14.9 48.6-15.1 4.9 0 9.9.1 14.5-1.7 3.6-1.5 6.5-4.1 9.3-6.9 10.1-10.2 17.9-22.9 29-32.1 7.9-6.6 18.7-14.8 29.5-13.8 13.9 1.2 25 5.8 38.5-1.5 28.1-15.3 27.8-60.9 56.2-75.4 16.2-8.3 36.9-3.6 52.6-12.8 5.4-3.2 9.8-7.7 13.9-12.6h128.5L195.1 212 1.9 365.1l-.1-92z" class="st21" />
        <path d="M.6 283.4c5.3-9.2 11.5-18 20.7-22.9 10.3-5.5 22.5-5.5 33.7-8.8 21.8-6.5 37.5-25.3 50.3-44.1 5.5-8 10.9-16.5 18.3-22.8 13.1-11.2 31.3-14.9 48.6-15.1 4.9 0 9.9.1 14.5-1.7 3.6-1.5 6.5-4.1 9.3-6.9 10.1-10.2 17.9-22.9 29-32.1 7.9-6.6 18.7-14.8 29.5-13.8 13.9 1.2 25 5.8 38.5-1.5 28.1-15.3 27.8-60.9 56.2-75.4 16.2-8.3 36.9-3.6 52.6-12.8C411.6 19.8 417.7 9 425.5.9h173.1v467.7H.6V283.4z" class="st0" />
        <path d="M.6 283.4c5.3-9.2 11.6-18 20.8-22.9 10.3-5.5 22.5-5.5 33.7-8.8 21.8-6.5 37.5-25.3 50.3-44.1 5.5-8 10.9-16.5 18.3-22.8 13.1-11.2 31.3-14.9 48.6-15.1 4.9 0 9.9.1 14.5-1.7 3.6-1.5 6.5-4.1 9.3-6.9 10.1-10.2 17.9-22.9 29-32.1 7.9-6.6 18.7-14.8 29.5-13.8 13.9 1.2 25 5.8 38.5-1.5 28.1-15.3 27.8-60.9 56.2-75.4 16.2-8.3 36.9-3.6 52.6-12.8C411.7 19.8 417.8 9 425.6.8H526c-3.5 2.8-7.3 5.3-11.4 7.2-11.6 5.4-23 6.6-34.9 1.9-10.5-4.2-22.3 2.4-30.1 10.6-7.8 8.2-14 18.4-23.7 24.1-15.7 9.1-36.4 4.4-52.6 12.8-28.4 14.7-28.2 60.3-56.2 75.4-13.5 7.3-24.6 2.8-38.5 1.5-10.8-1-21.5 7.1-29.5 13.8-11.2 9.2-18.9 21.9-29 32.1-2.7 2.7-5.7 5.4-9.3 6.9-4.5 1.9-9.6 1.7-14.5 1.7-17.3.2-35.4 3.8-48.6 15.1-7.4 6.3-12.8 14.8-18.3 22.8-12.9 18.8-28.6 37.6-50.3 44.1-11.2 3.4-23.4 3.3-33.7 8.8-11.9 6.4-18.9 19.1-25.2 31.1-8.2 15.5-11.6 30.2-19.6 45v-72.3z" class="st22" />
        <path d="M1.8 284.8c5.3-9.3 11.8-18.1 21.1-23.1 10.3-5.5 22.5-5.5 33.7-8.8 21.8-6.5 37.5-25.3 50.3-44.1 5.5-8 10.9-16.5 18.3-22.8 13.1-11.2 31.3-14.9 48.6-15.1 4.9 0 9.9.1 14.5-1.7 3.6-1.5 6.5-4.1 9.3-6.9 10.1-10.2 17.9-22.9 29-32.1 7.9-6.6 18.7-14.8 29.5-13.8 13.9 1.2 25 5.8 38.5-1.5 28.1-15.3 27.8-60.9 56.2-75.4 16.2-8.3 36.9-3.6 52.6-12.8 9.8-5.7 15.9-16.5 23.7-24.6" class="st23" />
        <path d="M1.8 357.1c8-14.8 11.7-29.5 19.9-45.1 6.3-12 13.3-24.7 25.2-31.1 10.3-5.5 22.5-5.5 33.7-8.8 21.8-6.5 37.5-25.3 50.3-44.1 5.5-8 10.9-16.5 18.3-22.8 13.1-11.2 31.3-14.9 48.6-15.1 4.9 0 9.9.1 14.5-1.7 3.6-1.5 6.5-4.1 9.3-6.9 10.1-10.2 17.9-22.9 29-32.1 7.9-6.6 18.7-14.8 29.5-13.8 13.9 1.2 25 5.8 38.5-1.5 28.1-15.3 27.8-60.9 56.2-75.4 16.2-8.3 36.9-3.6 52.6-12.8 9.8-5.7 15.9-15.9 23.7-24.1s19.6-14.9 30.1-10.6c11.9 4.8 23.2 3.5 34.9-1.9 4-1.9 7.7-4.4 11.2-7.1" class="st23" />
        <path d="M111.8 198.6s50.7 24 90.8 43.3c14.2 6.8 18 25.5 7.5 37.4a23.79 23.79 0 0 1-30 4.5l-89.9-54.9 21.6-30.3zM12.7 267.7s53.5 65.1 94.7 114.5c11.7 14 1.8 35.3-16.4 35.3-7.1 0-13.8-3.6-17.8-9.5L.6 298.3V285l12.1-17.3zM156.3 171.4s111.4 47.1 171.1 69.3c3.5 1.3 7.4 0 9.4-3.2 2.7-4.2.9-9.9-3.8-11.8-33.5-12.9-147.3-56.2-147.3-56.2l-29.4 1.9zM256.5 115.8s93.1 31 156.1 61.6c2.1 1 4.6.6 6.2-1 2.8-2.7 1.9-7.5-1.7-9-23.3-9.6-94.3-38.8-131.1-50.6-.1 0-10.2 1.8-29.5-1zM357.2 35.6l152.1 49.5c2.2.7 4.5.6 6.7-.2 8.7-3.4 8.2-16-.7-18.7l-121-37-37.1 6.4z" class="st24" />
      </g>
      <g id="flashlightFront">
        <path d="M84.5 182l4.6 26.4 34.6-33.6-24.5-6.2c-8.9-2.6-16.6 3.9-14.7 13.4z" class="st20" />
        <path d="M92.5 168.4l20.5 7.4-.5 1.2-21.4-8.2c.5-.2 1-.3 1.4-.4z" class="st25" />
        <path d="M86.6 172c-2 2.5-3 6-2.2 10l4.6 26.4 11.4-11.1L86.6 172z" />
        <linearGradient id="SVGID_3_" x1="127.15" x2="91.13" y1="294.87" y2="257.85" gradientTransform="matrix(1 0 0 -1 0 472)" gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#333" />
          <stop offset=".08" stop-color="#414141" />
          <stop offset=".22" stop-color="#555" />
          <stop offset=".37" stop-color="#626262" />
          <stop offset=".5" stop-color="#666" />
          <stop offset=".63" stop-color="#606060" />
          <stop offset=".81" stop-color="#4e4e4e" />
          <stop offset="1" stop-color="#333" />
        </linearGradient>
        <path d="M99.7 184.3c-10.6 9.4-13.4 21.4-9 28.5 4.3 6.8 18 3 28.6-6.4 10.6-9.4 14.9-23.7 8.8-29-6.9-6.1-17.8-2.6-28.4 6.9z" class="st26" />
        <path d="M102.2 186.3c-8.2 7.3-11.9 18.2-8.8 23.1 2.6 4.1 13.6-1.1 21.8-8.4s13.6-18.1 9.9-21.6c-4.4-4.2-14.7-.4-22.9 6.9z" class="st27" />
      </g>
      <path id="light" d="M116.9 187.1c-1.4-.3-9 1.7-11 3.6-2.2 2.1-4.9 10.7-4.4 11.8l76.3 266 420.8.1.9-157.6-482.6-123.9z" class="st28" />
      <g id="four04">
        <g id="lettersShadow" class="st29">
          <path d="M268 353l17.8 21.4-23.3 25.8 12.5 11.6 64.5 11.8 21.4-11.8-25.5-23.4 5-9.7-14.3-14-13.4-1.8-15.8-17.3L268 353z" class="st30" />
          <path d="M318.9 377.2s38.5 63.3 92.7 35.3c42.1-21.7-40.5-50.1-48.8-53.4-8.3-3.3-37.9 7.7-37.9 7.7l-6 10.4z" class="st30" />
          <path d="M394 392.8l17.7 19.7-7.5 26.4 12.5 11.6 82.5 4.5 22.8-14.8-32.4-18 8.8-7.1-21.2-16.5-16.1 2.1-37.6-11.1-29.5 3.2z" class="st30" />
        </g>
        <path d="M280.8 304.9l-8.6 4 7.7-.5 9.2-4.2-8.3.7zM259.5 335l8.3 18.2 7.4 2.9-8.9-19.5-6.8-1.6zm-5.9-26.4c-.2-.4-.3-.8-.5-1.2-.2-.4-.3-.8-.5-1.2-.2-.4-.3-.8-.5-1.3-.2-.4-.4-.9-.6-1.4-.2-.4-.4-.9-.6-1.4-.2-.5-.4-.9-.6-1.4-.2-.5-.4-.9-.6-1.4-.2-.5-.4-.9-.6-1.4s-.4-1-.6-1.4c-.2-.5-.4-.9-.6-1.4s-.4-.9-.6-1.4-.4-.9-.6-1.4c-.2-.5-.4-.9-.6-1.4-.1-.4-.3-.9-.5-1.3-.1-.4-.3-.8-.5-1.3l-.4-1.2-5.3 2c.1.3.3.7.4 1.1l.4 1.2c.1.4.3.8.5 1.2s.3.8.5 1.3c.1.4.3.9.5 1.3.1.4.3.9.5 1.3.1.4.3.9.5 1.3.1.4.3.9.5 1.3.1.4.3.9.5 1.3s.3.9.5 1.3.3.9.5 1.3.3.9.5 1.3.3.8.5 1.3c.2.4.3.8.5 1.2.1.4.3.8.5 1.1.1.4.3.7.5 1.1l4.2 9.3-13.8 6.4 5.1.7 14.9-6.9-4-9.9zm-29.9-33.8l-5.9 60.9 7.1 15.5 4.1 2.8-7.6-16.7 6.3-65.7-4 3.2z" class="st31" />
        <path d="M280 308.4l9.2-4.3 8.1 17.9-9.2 4.3 8.8 19.5-21.7 10.3-8.9-19.5-37.1 17.4-7.7-16.7 6.3-65.7 29.5-13.3 22.7 50.1zm-33.1-15.9c-.2-.5-.4-.9-.6-1.4-.1-.4-.3-.9-.5-1.3-.1-.4-.3-.8-.5-1.3l-.4-1.2-.5.3c0 .8.1 1.6.1 2.4 0 .8 0 1.6.1 2.4v14.4l-1.2 18.7 14.9-6.9-4.5-10c-.2-.4-.3-.8-.5-1.2s-.3-.8-.5-1.2c-.2-.4-.3-.8-.5-1.3-.2-.4-.4-.9-.6-1.4-.2-.4-.4-.9-.6-1.4-.2-.5-.4-.9-.6-1.4-.2-.5-.4-.9-.6-1.4-.2-.5-.4-.9-.6-1.4-.2-.5-.4-1-.6-1.4-.2-.5-.4-.9-.6-1.4-.2-.5-.4-.9-.6-1.4-.2-.3-.4-.8-.6-1.2" class="st32" />
        <path d="M342.8 313.9c-.2-.9-.4-1.9-.6-2.7-.2-.8-.4-1.7-.6-2.4-.2-.7-.4-1.4-.7-2.1-.2-.6-.5-1.2-.7-1.7-.3-.5-.5-1-.8-1.5-.3-.4-.5-.8-.9-1.2-.3-.4-.6-.6-1-.9-.3-.3-.7-.5-1-.6-.3-.2-.7-.3-1.1-.4-.4-.1-.7-.2-1-.3l-1.1-.2c-.4-.1-.8-.1-1.1 0l-7.1.8.8-.1h1.1c.4 0 .7.1 1 .1l1 .3c.3.1.6.2 1 .4s.6.3.9.6c.3.2.6.5.8.8.3.3.5.7.8 1.1.2.4.5.9.8 1.3.3.5.5 1.1.7 1.6s.4 1.2.6 1.9c.2.7.4 1.4.5 2.2.2.8.3 1.6.5 2.5.1.9.3 1.9.4 2.9l.3 3.3c.1 1.2.2 2.5.2 3.8 0 1.4.1 2.8.1 4.2v4.2c0 1.4-.1 2.6-.1 3.8-.1 1.2-.1 2.3-.2 3.4l-.3 3c-.1.9-.3 1.8-.4 2.6-.2.8-.3 1.6-.5 2.3-.2.7-.3 1.4-.6 2-.2.6-.4 1.2-.6 1.7-.1.3-.2.5-.3.7 0 .1-.1.2-.1.2-.1.2-.2.3-.3.4 0 .1-.1.2-.1.3-.1.1-.1.3-.2.4 0 .1-.1.2-.2.2-.1.1-.1.2-.2.3l-.2.2-.2.3c0 .1-.1.1-.2.2s-.1.2-.2.2c0 .1-.1.1-.2.2l-.2.2c0 .1-.1.1-.2.1-.1.1-.2.2-.4.2-.3.2-.6.3-1 .5-.3.1-.6.3-.9.4-.3.1-.6.2-.9.2l-1 .1h-1c-.3 0-.7-.1-1-.1l-.9-.3c-.3-.1-.6-.3-1-.4h-.1-.1-.1-.1l5.9 3.5h.4c.2.1.3.2.5.2.2.1.3.2.5.2.2.1.3.1.5.1s.4.1.5.1h.1l.5.1c.2 0 .4.1.6.1h1.2l1.2-.1c.1 0 .2 0 .4-.1.1 0 .2-.1.4-.1 0 0 .1 0 .1-.1h.1s.1 0 .1-.1c.1-.1.2-.1.4-.1.1-.1.2-.1.4-.1l.1-.1.1-.1c.1-.1.2-.1.3-.1.1-.1.2-.1.3-.1l.3-.2s0-.1.1-.1 0-.1.1-.1 0-.1.1-.1 0-.1.1-.1 0-.1.1-.1c0-.1.1-.1.2-.2s.2-.1.3-.2c0 0 0-.1.1-.1 0-.1.1-.1.1-.1 0-.1.1-.1.1-.1 0-.1.1-.1.1-.1 0-.1.1-.1.2-.2s.2-.2.2-.3l.1-.2v-.1l.1-.1c0-.1.1-.2.2-.2 0-.1.1-.2.2-.3.1-.1.2-.3.3-.4 0-.1.1-.1.1-.2v-.2c.1-.1.1-.3.2-.4 0-.1.1-.2.1-.3l.4-.8c.2-.6.5-1.2.7-1.8.2-.7.4-1.4.6-2.2.2-.8.4-1.6.5-2.5.2-.9.3-1.8.4-2.8.1-1 .3-2 .3-3.2.1-1.2.2-2.3.3-3.7s.1-2.7.1-4.1v-4.5c0-1.6 0-3.1-.1-4.5-.1-1.5-.2-2.8-.2-4.1l-.3-3.6c-.2-.2-.4-1.2-.5-2.2zm-35.2-23.2c.3-.3.6-.7.9-1l.3-.3 1.2-1.2c.1-.1.2-.2.3-.2.3-.3.6-.6 1-.9.1-.1.2-.2.4-.3l1.2-.9c0-.1.1-.1.1-.1.5-.4.9-.7 1.4-1l.2-.2c.4-.3.9-.6 1.4-.8 0-.1.1-.1.2-.1.5-.3.9-.6 1.5-.8l.6-.3s.1-.1.2-.1l.6-.3.1-.1c.2-.1.5-.2.7-.3.2-.1.5-.2.7-.3l-5.4 2s-.1.1-.2.1-.1.1-.2.1-.1.1-.2.1l-.1.1c-.1.1-.3.1-.5.2-.1.1-.2.1-.3.1 0 0-.1.1-.2.1l-.1.1-.1.1-.1.1c-.1.1-.3.1-.5.2-.3.1-.6.3-.9.4-.2.1-.3.2-.5.3 0 .1-.1.1-.2.1l-.1.1c-.3.2-.5.3-.8.5-.1.1-.2.1-.3.2l-.1.1s0 .1-.1.1l-.2.2-1 .7c0 .1-.1.1-.1.1-.3.2-.6.4-.8.6-.1.1-.2.2-.3.2 0 .1-.1.1-.1.1l-.2.2c-.3.3-.6.5-.9.8l-.2.2s0 .1-.1.1l-1 1s0 .1-.1.1c0 .1-.1.1-.2.2-.2.2-.3.3-.5.6-.1.1-.2.3-.4.4l-.3.3c-.4.4-.7.8-1 1.3-.7 1-1.4 2-2.1 3.1-.6 1.1-1.3 2.3-1.8 3.5-.6 1.2-1.1 2.5-1.5 3.9-.5 1.4-.9 2.8-1.2 4.2a72.2 72.2 0 0 0-1.7 9.5c-.2 1.7-.3 3.5-.4 5.3-.1 1.8-.1 3.7 0 5.6 0 1.9.1 3.8.3 5.6.1 1.8.3 3.5.5 5.2s.5 3.3.8 4.9c.3 1.6.7 3.1 1.2 4.6.4 1.5.9 2.9 1.4 4.2.5 1.4 1 2.6 1.6 3.9.6 1.2 1.2 2.4 1.9 3.5s1.4 2.1 2.2 3.1c.2.3.5.6.8 1 .2.3.5.6.8.9.3.3.5.6.8.9l.8.8 4.7 4.5-.9-.9-.9-.9-.9-1a7 7 0 0 1-.8-1c-.8-1.1-1.6-2.1-2.3-3.3s-1.4-2.4-2-3.7c-.6-1.3-1.3-2.7-1.8-4.1-.6-1.5-1-3-1.5-4.5-.5-1.6-.9-3.2-1.2-4.9-.3-1.7-.6-3.5-.9-5.3-.3-1.8-.5-3.7-.6-5.6-.2-1.9-.2-4-.3-6s0-4.1 0-6.1a95.63 95.63 0 0 1 1.1-11c.3-1.7.6-3.3 1.1-5 .4-1.6.9-3.1 1.4-4.5.5-1.5 1-2.8 1.7-4.2.6-1.3 1.2-2.6 2-3.7.7-1.2 1.4-2.3 2.2-3.3.3-.5.7-.9 1.1-1.4-.5-.5-.4-.7-.3-.8z" class="st31" />
        <path d="M365.3 307.3c.4 1.5.9 3.1 1.2 4.8l.9 5.1.6 5.5.3 5.9c0 2.1 0 4-.1 6-.1 1.9-.2 3.8-.4 5.6a81.62 81.62 0 0 1-1.7 10.1c-.4 1.6-.9 3.1-1.3 4.5a44.87 44.87 0 0 1-5.6 11.4c-.8 1.1-1.6 2.1-2.4 3s-1.7 1.9-2.6 2.7-1.9 1.6-2.9 2.3-2 1.3-3.1 1.9c-1.1.6-2.2 1.1-3.3 1.5-1.1.4-2.3.8-3.5 1.1-1.2.3-2.4.6-3.7.7-1.2.2-2.5.3-3.8.3s-2.6 0-3.9-.1c-1.3-.1-2.5-.3-3.7-.5s-2.4-.5-3.5-.9c-1.2-.4-2.3-.8-3.4-1.3s-2.1-1.1-3.2-1.7a33.29 33.29 0 0 1-5.8-4.6c-.9-.9-1.7-1.9-2.5-2.9-.8-1.1-1.6-2.1-2.3-3.3-.7-1.2-1.4-2.4-2-3.7-.6-1.3-1.3-2.7-1.8-4.1-.6-1.5-1-3-1.5-4.5-.5-1.6-.9-3.2-1.2-4.9-.3-1.7-.6-3.5-.9-5.3-.3-1.8-.5-3.7-.6-5.6-.2-1.9-.2-4-.3-6v-6.1a95.63 95.63 0 0 1 1.1-11c.3-1.7.6-3.3 1.1-5 .4-1.6.9-3.1 1.4-4.5.5-1.5 1-2.8 1.7-4.2.6-1.3 1.2-2.6 2-3.7.7-1.2 1.4-2.3 2.2-3.3.8-1 1.6-2 2.4-2.9s1.8-1.8 2.7-2.6 1.9-1.5 2.9-2.2c1-.7 2.1-1.3 3.1-1.8 1.1-.5 2.2-1 3.3-1.4 1.2-.4 2.3-.8 3.5-1 1.2-.3 2.5-.5 3.7-.6 1.3-.1 2.6-.2 3.9-.2 1.3 0 2.6.1 3.9.2 1.3.1 2.5.3 3.7.5 1.2.3 2.4.5 3.5 1 1.2.4 2.3.8 3.4 1.3s2.1 1.1 3.2 1.7 2 1.3 3 2.1l2.8 2.5c.9.9 1.7 1.9 2.5 2.9s1.5 2.1 2.3 3.3a48.03 48.03 0 0 1 3.7 7.7c0 1.3.5 2.8 1 4.3zm-22.1 37.5c.1-1 .3-2 .3-3.2.1-1.1.2-2.3.3-3.7.1-1.3.1-2.7.1-4.1v-4.5c0-1.6 0-3.1-.1-4.5-.1-1.5-.2-2.8-.2-4.1l-.3-3.6c-.1-1.1-.3-2.1-.4-3.1-.2-.9-.4-1.9-.6-2.7-.2-.8-.4-1.7-.6-2.4s-.4-1.4-.7-2.1c-.2-.6-.5-1.2-.7-1.7-.3-.5-.5-1-.8-1.5-.3-.4-.5-.8-.9-1.2-.3-.4-.6-.6-1-.9-.3-.3-.7-.5-1-.6s-.7-.3-1.1-.4c-.4-.1-.7-.2-1-.3l-1.1-.2c-.4-.1-.8-.1-1.1 0-.4 0-.8 0-1.1.1s-.7.1-1.1.2c-.3.1-.7.2-1.1.3-.3.1-.7.3-1 .5-.3.2-.7.4-1 .7l-.9.9c-.3.3-.6.8-.8 1.2-.3.4-.5.9-.7 1.5-.2.5-.5 1.1-.7 1.8-.2.6-.4 1.4-.6 2.1-.2.8-.4 1.6-.5 2.4s-.3 1.8-.4 2.8-.2 2-.4 3.2c-.1 1.1-.2 2.3-.2 3.6-.1 1.3-.1 2.6-.1 4.1v4.6c0 1.6 0 3.1.1 4.6l.3 4.1c.1 1.3.2 2.5.4 3.6s.3 2.2.5 3.2.4 1.9.5 2.8c.2.9.4 1.7.6 2.5.2.8.4 1.5.7 2.1.2.7.5 1.3.8 1.8s.5 1.1.8 1.5c.3.5.6.9.9 1.2.3.4.6.7.9 1 .3.3.7.5 1 .7.3.2.7.3 1.1.5.4.1.7.2 1 .3l1.1.2c.4.1.8.1 1.1 0 .4 0 .8 0 1.1-.1.3 0 .7-.1 1.1-.2s.7-.2 1.1-.4c.3-.1.7-.3 1-.5.3-.2.7-.4 1-.7.3-.3.6-.6.9-1 .3-.4.6-.8.8-1.3s.5-1 .7-1.5.5-1.2.7-1.8.4-1.4.6-2.2c.2-.8.4-1.6.5-2.5-.1-1.2.1-2.1.2-3.1" class="st32" />
        <path d="M427.4 355.7l-9.5-.4 7.1 3.1 10.2.3-7.8-3zm-32.6 17.2l-.8 19.9 5.3 6 .8-21.5-5.3-4.4zm6.6-26.3c0-.4.1-.8.1-1.3 0-.4.1-.9.1-1.3 0-.5.1-.9.1-1.4 0-.5 0-1 .1-1.5 0-.5.1-1 .1-1.5s.1-1 .1-1.5l.1-1.5.1-1.5.1-1.5.1-1.5c0-.5.1-1 .1-1.5s.1-1 .1-1.5.1-1 .1-1.4l.1-1.4c0-.5.1-.9.2-1.3s.1-.9.1-1.3l-5.6-.6c-.1.4-.1.8-.1 1.2-.1.4-.1.8-.1 1.2-.1.4-.1.9-.1 1.3 0 .5-.1.9-.1 1.3l-.1 1.4-.1 1.4-.1 1.4c0 .5-.1.9-.1 1.4 0 .5-.1.9-.1 1.4 0 .5-.1.9-.1 1.4 0 .5-.1.9-.1 1.4 0 .5-.1.9-.1 1.4 0 .5-.1.9-.1 1.3 0 .5-.1.9-.1 1.3s-.1.8-.1 1.2c0 .4 0 .8-.1 1.2l-.4 10.2-15.2-.5 4.3 3 16.4.6.4-11zm-11.3-43.7l-32.8 51.7-.6 17.1 2.4 4.4.7-18.3L395 302l-4.9.9z" class="st31" />
        <path d="M425 358.4l10.2.3-.9 19.6-10.1-.3-.9 21.3-24-.6.9-21.4-41-1.2.7-18.3 35.3-55.8 32.3 1.4-2.5 55zm-22.2-29.2c0-.5.1-1 .1-1.4l.1-1.4c0-.5.1-.9.2-1.3s.1-.9.1-1.3h-.6c-.3.7-.6 1.4-1 2.2-.4.7-.7 1.4-1 2.1-.3.7-.7 1.4-1 2.1-.4.7-.7 1.4-1.1 2.1-.4.7-.7 1.4-1.1 2.1-.4.7-.8 1.4-1.1 2.1-.4.7-.7 1.4-1.1 2.1-.4.7-.7 1.4-1.1 2.1l-9.5 16.1 16.4.6.5-10.9c0-.4.1-.8.1-1.3 0-.4.1-.9.1-1.3 0-.5.1-.9.1-1.4 0-.5 0-1 .1-1.5s.1-1 .1-1.5.1-1 .1-1.5l.1-1.5.1-1.5.1-1.5.1-1.5c0-.5.1-1 .1-1.5 0-.3 0-.8.1-1.3" class="st32" />
      </g>
    </svg>
    <p class="h-text-muted" style="text-align: center; font-size: 1.5rem;">
      Original idea/source: <a href="https://www.reddit.com/r/web_design/comments/985oea/scared_yeti_404_page/">reddit.com/user/green__machine</a>
      <br>
      <a href="https://www.reddit.com/r/web_design/comments/985oea/scared_yeti_404_page/e4ytjkq/">License</a>: "Sure, feel free to use this one however you wish. Thanks for checking."
    </p>
  </div>
</main>
<style type="text/css">
  path.st31 {
      -webkit-animation-name: fn;
              animation-name: fn;
      -webkit-animation-duration: 5s;
              animation-duration: 5s;
      -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
              animation-timing-function: cubic-bezier(0, 1, 0, 1);
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
    }

    path.st3,
    path.st5 {
      -webkit-animation-name: fn35;
              animation-name: fn35;
      -webkit-animation-duration: 5s;
              animation-duration: 5s;
      -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
              animation-timing-function: cubic-bezier(0, 1, 0, 1);
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
    }

    path.st6,
    path.st7 {
      -webkit-animation-name: fn67;
              animation-name: fn67;
      -webkit-animation-duration: 5s;
              animation-duration: 5s;
      -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
              animation-timing-function: cubic-bezier(0, 1, 0, 1);
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
    }

    path#light {
      -webkit-animation-name: fl;
              animation-name: fl;
      -webkit-animation-duration: 5s;
              animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
              animation-timing-function: cubic-bezier(0, 1, 0, 1);
    }

    path.st21 {
      -webkit-animation-name: fl2;
              animation-name: fl2;
      -webkit-animation-duration: 5s;
              animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
              animation-timing-function: cubic-bezier(0, 1, 0, 1);
    }

    g#armR {
      -webkit-animation-name: arm;
              animation-name: arm;
      -webkit-animation-duration: 5s;
              animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
    }

    g[id^="eye"] {
      -webkit-animation-name: eyes;
              animation-name: eyes;
      -webkit-animation-duration: 5s;
              animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
    }

    @-webkit-keyframes arm {
      0% {
        transform: translate(0, 0);
      }

      67% {
        transform: translate(10px, 10px);
      }

      100% {
        transform: translate(0, 0);
      }
    }

    @keyframes arm {
      0% {
        transform: translate(0, 0);
      }

      67% {
        transform: translate(10px, 10px);
      }

      100% {
        transform: translate(0, 0);
      }
    }

    @-webkit-keyframes eyes {
      0% {
        transform: translate(0, 0);
      }

      75% {
        transform: translate(2px, 2px);
      }

      100% {
        transform: translate(0, 0);
      }
    }

    @keyframes eyes {
      0% {
        transform: translate(0, 0);
      }

      75% {
        transform: translate(2px, 2px);
      }

      100% {
        transform: translate(0, 0);
      }
    }

    @-webkit-keyframes fl {
      0% {
        opacity: 0;
      }

      10% {
        opacity: 0;
      }

      20% {
        opacity: 1;
      }

      30% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes fl {
      0% {
        opacity: 0;
      }

      10% {
        opacity: 0;
      }

      20% {
        opacity: 1;
      }

      30% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @-webkit-keyframes fl2 {
      0% {
        opacity: 0;
      }

      10% {
        opacity: 0;
      }

      20% {
        opacity: 0.1;
      }

      30% {
        opacity: 0;
      }

      100% {
        opacity: 0.1;
      }
    }

    @keyframes fl2 {
      0% {
        opacity: 0;
      }

      10% {
        opacity: 0;
      }

      20% {
        opacity: 0.1;
      }

      30% {
        opacity: 0;
      }

      100% {
        opacity: 0.1;
      }
    }

    @-webkit-keyframes fn {
      0% {
        fill: hsla(203, 80%, 11%, 1);
      }

      10% {
        fill: hsla(203, 80%, 11%, 1);
      }

      20% {
        fill: hsla(203, 80%, 81%, 1);
      }

      30% {
        fill: hsla(203, 80%, 11%, 1);
      }

      100% {
        fill: hsla(203, 80%, 81%, 1);
      }
    }

    @keyframes fn {
      0% {
        fill: hsla(203, 80%, 11%, 1);
      }

      10% {
        fill: hsla(203, 80%, 11%, 1);
      }

      20% {
        fill: hsla(203, 80%, 81%, 1);
      }

      30% {
        fill: hsla(203, 80%, 11%, 1);
      }

      100% {
        fill: hsla(203, 80%, 81%, 1);
      }
    }

    @-webkit-keyframes fn35 {
      0% {
        fill: hsl(203, 66%, 64%);
      }

      10% {
        fill: hsl(203, 66%, 64%);
      }

      20% {
        fill: hsl(203, 80%, 81%);
      }

      30% {
        fill: hsl(203, 66%, 64%);
      }

      100% {
        fill: hsl(203, 80%, 81%);
      }
    }

    @keyframes fn35 {
      0% {
        fill: hsl(203, 66%, 64%);
      }

      10% {
        fill: hsl(203, 66%, 64%);
      }

      20% {
        fill: hsl(203, 80%, 81%);
      }

      30% {
        fill: hsl(203, 66%, 64%);
      }

      100% {
        fill: hsl(203, 80%, 81%);
      }
    }

    @-webkit-keyframes fn67 {
      0% {
        fill: hsl(203, 80%, 74%);
      }

      10% {
        fill: hsl(203, 80%, 74%);
      }

      20% {
        fill: hsl(203, 80%, 94%);
      }

      30% {
        fill: hsl(203, 80%, 74%);
      }

      100% {
        fill: hsl(203, 80%, 94%);
      }
    }

    @keyframes fn67 {
      0% {
        fill: hsl(203, 80%, 74%);
      }

      10% {
        fill: hsl(203, 80%, 74%);
      }

      20% {
        fill: hsl(203, 80%, 94%);
      }

      30% {
        fill: hsl(203, 80%, 74%);
      }

      100% {
        fill: hsl(203, 80%, 94%);
      }
    }
</style>
{{ end }}