{{ define "main" }}
<main class="c-postlist">
  <div class="c-postlist__items">
    <!-- Ranges through content/posts/*.md -->
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") 3 }}
    {{ range $paginator.Pages }}

    {{ block "posts-list" . }}
      {{ partial "posts-list.html" . }}
    {{ end }}

    <hr>
    {{ end }}
    {{ if gt .Paginator.TotalPages 1 }}
    <div class="c-pager">
      <a class="c-btn c-btn--primary" href="/posts">All {{ .Paginator.TotalNumberOfElements }} Posts &rarr;</a>
    </div>
    {{ end }}
  </div>
</main>
{{ end }}